.register{
    width:100vw;
    height:100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items:center;
    justify-content:center;
}
.registerWrapper{
    display:flex;
    width:70%;
    height:70%;
}
.registerLeft,.registerRight{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registerLogo{
    font-size:50px;
    font-weight: 800;
    color:#1775ee;
    margin:10px;
}
.registerDesc{
    font-size: 24px;

}
.registerRight{
    -webkit-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.25);
-moz-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.25);
box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.25);
}
.registerBox{
    height:600px;
    padding:20px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-between;

}
.registerInput{
    height:50px;
    border-radius:10px;
    border:1px solid gray;
    padding-left:20px;
    outline:none;
}
.registerButton{
    border:none;
    height:50px;
    border-radius:10px;
    font-size:18px;
    background-color: #5817ee;
    color:white;
    cursor:pointer;
    font-weight:500;
}
.registerForgot{
    text-align:center;
    color:#1775ee;
}
.registerLoginButton{
    border:none;
    width:100%;
    align-self:center;
    height:50px;
    border-radius:10px;
    font-size:18px;
    background-color: #1775ee ;
    color:white;
    cursor:pointer;
    font-weight:500;
}